<app-navbar></app-navbar>
<div class="container">
  <div class="col-md-12">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#newUserModal">Nuevo +</button>

  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>rut</th>
        <th>createAt</th>
        <th>isActive</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let proveedor of proveedorList">
        <th scope="row">{{proveedor.proveedorId}}</th>
        <th>{{proveedor.nombre}}</th>
        <th>{{proveedor.rut}}</th>
        <th>{{proveedor.createAt | date:'medium':'GMT -4'}}</th>
        <th>{{proveedor.isActive}}</th>
        <th>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal"
            (click)="placeHolderProveedor(this.proveedor)" data-bs-target="#exampleModal">Editar</button>
          <button class="btn btn-danger" (click)="deleteProveedor(proveedor.proveedorId)">Borrar</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<!-- Edit Modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="proveedorForm" (ngSubmit)="editProveedor(proveedorForm.value,proveedorToEdit.proveedorId)">
          <div class="form-floating">
            <input formControlName="nombre" class="form-control" id="floatingnombre"
              placeholder="{{proveedorToEdit.nombre}}" value="{{proveedorToEdit.nombre}}" type="text">
            <label for="floatingnombre">Nombre</label>
          </div>
          <div class="form-floating">
            <input formControlName="nombre" class="form-control" id="floatingrut" placeholder="{{proveedorToEdit.rut}}"
              value="{{proveedorToEdit.rut}}" type="text">
            <label for="floatingrut">Rut</label>
          </div>
          <div class="form-floating">
            <input formControlName="nombre" class="form-control" id="floatingcreado"
              placeholder="{{proveedorToEdit.createAt}}" value="{{proveedorToEdit.createAt | date:'medium':'GMT -4'}}"
              type="text">
            <label for="floatingcreado">Creado</label>
          </div>
          <div class="form-floating">
            <input formControlName="nombre" class="form-control" id="floatingactive"
              placeholder="{{proveedorToEdit.isActive}}" value="{{proveedorToEdit.isActive}}" type="text">
            <label for="floatingactive">is Active</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" data-bs-dismiss="modal" [disabled]="!proveedorForm.valid"
              class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- New Product Modal-->


<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="newProveedorForm" (ngSubmit)="newProveedor(newProveedorForm.value)">
          <div class="form-floating">
            <input formControlName="nombre" class="form-control" id="floatingnombrenew" type="text">
            <label for="floatingnombrenew">Nombre</label>
          </div>
          <div class="form-floating">
            <input formControlName="rut" class="form-control" id="floatingrutnew" type="text">
            <label for="floatingrutnew">Rut</label>
          </div>
          <div class="form-floating">
            <input formControlName="createAt" class="form-control" id="floatingcreadonew" type="text">
            <label for="floatingcreadonew">Creado</label>
          </div>
          <div class="form-floating">
            <input formControlName="isActive" class="form-control" id="floatingactivenew" type="text">
            <label for="floatingactivenew">isActive</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" data-bs-dismiss="modal" [disabled]="!newProveedorForm.valid"
              class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>