.div{
    margin-top: 10px;
}

button{
    margin: 3px;
}

.table{
    background-color:rgb(145, 145, 145);
    color: aliceblue;

}
 
input.div.ng-touched{
    border: red 1px solid
}

input,select{
    margin: 5px;
}