<app-navbar></app-navbar>

<div class="container">
  <div class="col-md-12">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#newUserModal">Nuevo +</button>
  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombres</th>
        <th>Apellidos</th>
        <th>Username</th>
        <th>Password</th>
        <th>Rol</th>
        <th>Activo</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList">
        <th scope="row">{{user.usuarioid}}</th>
        <th>{{user.nombre}}</th>
        <th>{{user.apellidos}}</th>
        <th>{{user.username}}</th>
        <th>{{user.password}}</th>
        <th>{{user.tipoUsuarioId}}</th>
        <th>{{user.isActive}}</th>
        <th>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" (click)="placeHolderUser(this.user)"
            data-bs-target="#exampleModal">Editar</button>
          <button class="btn btn-danger" (click)="deleteUser(user.usuarioid)">Desactivar</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<!-- Edit Modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="userForm" (ngSubmit)="editUser(userForm.value,userToEdit.usuarioid)">
          <div class="form-floating">
            <input formControlName="nombre" class="form-control"  id="floatingnombre" placeholder="{{userToEdit.nombre}}"
              value="{{userToEdit.nombre}}" type="text">
            <label for="floatingnombre">Nombre</label>
          </div>
          <div class="form-floating">
            <input formControlName="apellidos" class="form-control" id="floatingapellido"
              placeholder="{{userToEdit.apellidos}}" value="{{userToEdit.apellidos}}" type="text">
            <label for="floatingapellido">Apellido</label>
          </div>
          <div class="form-floating">
            <input formControlName="username" class="form-control" id="floatingusername"
              placeholder="{{userToEdit.username}}" value="{{userToEdit.username}}" type="text">
            <label for="floatingusername">Username</label>
          </div>
          <div class="form-floating">
            <input formControlName="password" class="form-control" id="floatingpassword"
              placeholder="{{userToEdit.password}}" value="{{userToEdit.password}}" type="password">
            <label for="floatingpassword">Password</label>
          </div>
          <div class="form-floating">
            <input formControlName="isActive" class="form-control" id="floatingIsactive"
              placeholder="{{userToEdit.isActive}}" value="{{userToEdit.isActive}}" type="text">
            <label for="floatingIsactive">IsActive</label>
          </div>
          <div class="form-floating">
            <select class="form-select"  formControlName="tipoUsuarioId" id="floatingtipo" aria-label="Floating label select example">
              <option *ngFor="let tipo of userType" value="{{tipo.tipousuarioid}}" selected>{{tipo.nombre}}</option>
            </select>
            <label for="floatingtipo">tipoUsuario</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" [disabled]="!userForm.valid" data-bs-dismiss="modal"
              class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- New User Modal-->


<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="newUserForm" (ngSubmit)="newUser(newUserForm.value)">
          <div class="form-floating">
            <input formControlName="nombre" class="form-control"  id="floatingnombreNuevo" type="text">
            <label for="floatingnombreNuevo">Nombre</label>
          </div>
          <div class="form-floating">
            <input formControlName="apellidos" class="form-control" id="floatingapellidoNuevo" type="text">
            <label for="floatingapellidoNuevo">Apellido</label>
          </div>
          <div class="form-floating">
            <input formControlName="username" class="form-control" id="floatingusernameNuevoNuevo" type="text">
            <label for="floatingusernameNuevoNuevo">Username</label>
          </div>
          <div class="form-floating">
            <input formControlName="password" class="form-control" id="floatingpasswordNuevo" type="password">
            <label for="floatingpasswordNuevo">Password</label>
          </div>
          <div class="form-floating">
            <input formControlName="isActive" class="form-control" id="floatingIsactiveNuevo" type="text">
            <label for="floatingIsactiveNuevo">IsActive</label>
          </div>
          <div class="form-floating">
            <select class="form-select"  formControlName="tipoUsuarioId" id="floatingtipoNuevo" aria-label="Floating label select example">
              <option *ngFor="let tipo of userType" value="{{tipo.tipousuarioid}}" selected>{{tipo.nombre}}</option>
            </select>
            <label for="floatingtipoNuevo">tipoUsuario</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" [disabled]="!newUserForm.valid" data-bs-dismiss="modal"
              class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>