<app-navbar></app-navbar>

<div class="container">
  <div class="col-md-12">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#newUserModal">Nuevo +</button>

  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>mesa id</th>
        <th>numero</th>
        <th>estado id</th>
        <th>capacidad</th>
        <th>isActive</th>
        <th>create At</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mesa of mesasList">
        <th scope="row">{{mesa.mesaid}}</th>
        <th>{{mesa.numero}}</th>
        <th>{{mesa.estadoId}}</th>
        <th>{{mesa.capacidad}}</th>
        <th>{{mesa.isActive}}</th>
        <th>{{mesa.createAt | date :'medium':'GMT -4'}}</th>
        <th>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal" (click)="mesaPlaceHolder(this.mesa)"
            data-bs-target="#exampleModal">Editar</button>
          <button class="btn btn-danger" (click)="deleteMesa(this.mesa.mesaid)">Borrar</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<!-- Edit Modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="mesaForm" (ngSubmit)="editMesa(mesaForm.value,mesaToEdit.mesaid)">
          <div class="form-floating">
            <input formControlName="numero" class="form-control" id="floatingnumero" placeholder="{{mesaToEdit.numero}}"
              value="{{mesaToEdit.numero}}" type="text">
            <label for="floatingnumero">numero</label>
          </div>
          <div class="form-floating">
            <input formControlName="estadoId" class="form-control" id="floatingestado"
              placeholder="{{mesaToEdit.estadoId}}" value="{{mesaToEdit.estadoId}}" type="text">
            <label for="floatingestado">estadoId</label>
          </div>
          <div class="form-floating">
            <input formControlName="capacidad" class="form-control" id="floatingcapacidad"
              placeholder="{{mesaToEdit.capacidad}}" value="{{mesaToEdit.capacidad}}" type="text">
            <label for="floatingcapacidad">Capacidad</label>
          </div>
          <div class="form-floating">
            <input formControlName="isActive" class="form-control" id="floatingactive"
              placeholder="{{mesaToEdit.isActive}}" value="{{mesaToEdit.isActive}}" type="text">
            <label for="floatingactive">is Active</label>
          </div>
          <div class="form-floating">
            <input formControlName="createAt" class="form-control" id="floatingcread"
              placeholder="{{mesaToEdit.createAt}}" value="{{mesaToEdit.createAt | date : 'medium':'GMT -4'}}"
              type="text">
            <label for="floatingcread">Creado</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" data-bs-dismiss="modal" [disabled]="!mesaForm.valid"
              class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- New Product Modal-->


<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Agregar</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="newMesaForm" (ngSubmit)="newMesa(newMesaForm.value)">
          <div class="form-floating">
            <input formControlName="numero" class="form-control" id="floatingnumero" type="text">
            <label for="floatingnumero">numero</label>
          </div>
          <div class="form-floating">
            <input formControlName="estadoId" class="form-control" id="floatingestado" type="text">
            <label for="floatingestado">estadoId</label>
          </div>
          <div class="form-floating">
            <input formControlName="capacidad" class="form-control" id="floatingcapacidad" type="text">
            <label for="floatingcapacidad">Capacidad</label>
          </div>
          <div class="form-floating">
            <input formControlName="isActive" class="form-control" id="floatingactive" type="text">
            <label for="floatingactive">is Active</label>
          </div>
          <div class="form-floating">
            <input formControlName="createAt" class="form-control" id="floatingcread" type="text">
            <label for="floatingcread">Creado</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" data-bs-dismiss="modal" class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>