<app-navbar></app-navbar>

<div class="col-md-12">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let pedido of pedidoList">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Pedido: {{pedido.pedidoId}}</h5>
              <p class="card-text">Mesa: {{pedido.mesaId}}</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Inicio: {{pedido.inicioPedido | date :'medium':'GMT -4'}}</li>
              <li class="list-group-item">Estado: {{ estados[pedido.estadoId].nombre }}</li>
            </ul>
            <div class="card-body">
              <button class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#exampleModal"  (click)="getPlatosForPedido(this.pedido.pedidoId)">Ver Pedido</button>
              <button class="btn btn-danger" style="margin-left:3px" (click)="deletePedido(this.pedido.pedidoId)"> Finalizar</button>
              <br>
              <button type="button" class="btn btn-dark" (click)="entregarPedido(this.pedido.pedidoId,this.pedido)" style="margin-top: 3px;">Entregar</button>
            </div>
            <div *ngIf="(pedido.estadoId == 7 ); else preparando"  class="col-md-12">
              <img  src="../../../assets/pngwing.com.png" class="card-img-bottom img-fluid" alt="...">
            </div>
            <ng-template #preparando>
              <img  src="../../../assets/restaurante-plato-cubierto-en-una-mano.png" class="card-img-bottom img-fluid" alt="...">
            </ng-template>
            
          </div>
        </div>
      </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" id="modalc">
        <h5 class="modal-title" id="exampleModalLabel">Platos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12" *ngFor="let plato of platosForPedido"><h5>Orden: {{plato.nombre}}</h5></div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
