.card{
    background-color: rgb(255, 242, 184);
    text-align: center;
    margin-left: 20%;
    margin-bottom: 3%;
    margin-top: 3%;
    text-decoration: double;
}



button{
    margin:3px
}

.list-group-item{
    background-color:rgb(255, 252, 242) ;
}



.card-img-bottom{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}

img {
    -webkit-animation: mover 2s infinite  alternate;
    animation: mover 2s infinite  alternate;
}
@-webkit-keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}