<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard" >Siglo XXI</a>
    <img src="../../../assets/restaruanteultima.png" class="img-fluid" width="50px" height="50px" alt="">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/cocina" routerLinkActive="active">Cocina</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/pacientes" routerLinkActive="active">Bodega</a>
        </li>
        <li *ngIf="checkRole()" class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Mantenedores
          </a>
          <ul class="dropdown-menu" id="mantenedores" aria-labelledby="offcanvasNavbarDropdown">
            <li><a class="dropdown-item" routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
            <li><a class="dropdown-item" routerLink="/productos" routerLinkActive="active">Productos</a></li>
            <li><a class="dropdown-item" routerLink="/proveedores" routerLinkActive="active">Proveedores</a></li>
            <li><a class="dropdown-item" routerLink="/mesas" routerLinkActive="active">Mesas</a></li>
            <li><a class="dropdown-item" routerLink="/ofertas" routerLinkActive="active">Ofertas</a></li>
            <li><a class="dropdown-item" href="#">Platos</a></li>
            <li><a class="dropdown-item" href="#">Recetas</a></li>
          </ul>
        </li>
      </ul>
      <button class="btn btn-warning" (click)="logOut()">Salir</button>
    </div>
  </div>
</nav>




<!--nav class="navbar navbar-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard">SIGLO XXI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Bienvenido</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/dashboard" routerLinkActive="active">Inicio</a>
          </li>
          <li class="nav-item" *ngIf="checkRole()" id="admin">
            <a class="nav-link active" aria-current="page" routerLink="/admin"
              routerLinkActive="active">Administracion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="/cocina" routerLinkActive="active">Cocina</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Finanzas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Bodega</a>
          </li>
          <li *ngIf="checkRole()" class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Mantenedores
            </a>
            <ul class="dropdown-menu" id="mantenedores" aria-labelledby="offcanvasNavbarDropdown">
              <li><a class="dropdown-item" routerLink="/usuarios" routerLinkActive="active">Usuarios</a></li>
              <li><a class="dropdown-item" routerLink="/productos" routerLinkActive="active">Productos</a></li>
              <li><a class="dropdown-item" routerLink="/proveedores" routerLinkActive="active">Proveedores</a></li>
              <li><a class="dropdown-item" routerLink="/mesas" routerLinkActive="active">Mesas</a></li>
              <li><a class="dropdown-item" routerLink="/ofertas" routerLinkActive="active">Ofertas</a></li>
              <li><a class="dropdown-item" href="#">Platos</a></li>
              <li><a class="dropdown-item" href="#">Recetas</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="btn btn-dark" aria-current="page" (click)="logOut()">Salir</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav-->
