<app-navbar></app-navbar>

<div class="container-fluid text-center">
    <div class="row">
        <div class="col-md-4 text-center">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/ventas.png" class="card-img-top">
                <p class="card-p">{{cardInfo[0]?.total}} CLP</p>
                <div class="card-body">
                  <p class="card-text">Ventas del día</p>
                  
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/pedidos.png" class="card-img-top">   
                <p class="card-p">{{cardInfo[0]?.cantidadPedidos}}</p>
                <div class="card-body">
                  <p class="card-text">Pedidos del día</p>
                </div>
              </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/cocina.png"  class="card-img-top">
                <p class="card-p">{{cardInfo[0]?.TiempoMaximo}} Minutos</p>
                <div class="card-body">
                  <p class="card-text">Tiempo Espera</p>
                </div>
              </div>
        </div>

        
    </div>
</div>