.container-fluid{

    margin:0 auto;
    background-color: rgb(41, 43, 44);
}

.card{
    background-color: rgb(145, 145, 145);
    text-align: center;
    margin-left: 15%;
    margin-bottom: 5%;
    margin-top: 3%;
    text-decoration: double;
    border-radius: 10px;
    color:aliceblue;
}

.card-img-top{
    width: 100px;
    height: 100px;
    margin-left:75%;
    margin-top: 18%;
    background-color: rgb(238, 238, 238);
    position: absolute;
    box-shadow: -5px -5px 3px  rgb(78, 78, 78);
    border-radius: 20px;
}

.card-p{
    font-size: 40px;
    color: aliceblue;
    box-shadow: 0px 5px 3px rgb(78, 78, 78);
    
}