<app-navbar></app-navbar>

<div class="container">
  <div class="col-md-12">
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#newUserModal">Nuevo +</button>

  </div>
  <table class="table table-striped table-dark">
    <thead>
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>proveedorId</th>
        <th>stock</th>
        <th>ultimaCompra</th>
        <th>tipoDeProductoId</th>
        <th>isActive</th>
        <th>Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productList">
        <th scope="row">{{product.productoId}}</th>
        <th>{{product.nombre}}</th>
        <th>{{product.proveedorId}}</th>
        <th>{{product.stock}}</th>
        <th>{{product.ultimaCompra | date :'medium':'GMT -4'}}</th>
        <th>{{product.tipoProductoId}}</th>
        <th>{{product.isActive}}</th>
        <th>
          <button type="button" class="btn btn-warning" data-bs-toggle="modal"
            (click)="placeHolderProduct(this.product)" data-bs-target="#exampleModal">Editar</button>
          <button class="btn btn-danger" (click)="deleteProduct(product.productoId)">Desactivar</button>
        </th>
      </tr>
    </tbody>
  </table>
</div>

<!-- Edit Modal-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm" (ngSubmit)="editProduct(productForm.value,productToEdit.productoId)">
          <div class="form-floating">
            <input formControlName="nombre" class="form-control" id="floatingnombre"
              placeholder="{{productToEdit.nombre}}" value="{{productToEdit.nombre}}" type="text">
            <label for="floatingnombre">Nombre</label>
          </div>
          <div class="form-floating">
            <input formControlName="proveedorId" class="form-control" id="floatingproveedor"
              placeholder="{{productToEdit.proveedorId}}" value="{{productToEdit.proveedorId}}" type="text">
            <label for="floatingproveedor">Proveedor</label>
          </div>
          <div class="form-floating">
            <input formControlName="stock" class="form-control" id="floatingstock" value="{{productToEdit.stock}}"
              placeholder="{{productToEdit.stock}}" type="text">
            <label for="floatingstock">Stock</label>
          </div>
          <div class="form-floating">
            <input formControlName="stock" class="form-control" id="floatignultima"
              value="{{productToEdit.ultimaCompra | date:'medium':'GMT -4'}}"
              placeholder="{{productToEdit.ultimaCompra | date:'medium':'GMT -4'}}" type="text">
            <label for="floatignultima">Ultima Compra</label>
          </div>
          <div class="form-floating">
            <input formControlName="stock" class="form-control" id="floatigproducto"
              value="{{productToEdit.tipoProductoId}}" placeholder="{{productToEdit.tipoProductoId}}" type="text">
            <label for="floatigproducto">Tipo Producto</label>
          </div>
          <div class="form-floating">
            <input formControlName="stock" class="form-control" id="floatigactive" value="{{productToEdit.isActive}}"
              placeholder="{{productToEdit.isActive}}" type="text">
            <label for="floatigactive">isActive</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" data-bs-dismiss="modal" [disabled]="!productForm.valid"
              class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- New Product Modal-->


<div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="newProductForm" (ngSubmit)="addProduct(newProductForm.value)">
          <div class="form-floating">
            <input formControlName="nombre" class="form-control" id="floatingnombrenew" type="text">
            <label for="floatingnombrenew">Nombre</label>
          </div>
          <div class="form-floating">
            <input formControlName="proveedorId" class="form-control" id="floatingproveedornew" type="text">
            <label for="floatingproveedornew">Proveedor</label>
          </div>
          <div class="form-floating">
            <input formControlName="stock" class="form-control" id="floatingstocknew" type="text">
            <label for="floatingstocknew">Stock</label>
          </div>
          <div class="form-floating">
            <input formControlName="ultimaCompra" class="form-control" id="floatingultimanew" type="text">
            <label for="floatingultimanew">Ultima Compra</label>
          </div>
          <div class="form-floating">
            <input formControlName="tipoProductoId" class="form-control" id="floatingtiponew" type="text">
            <label for="floatingtiponew">Tipo Producto</label>
          </div>
          <div class="form-floating">
            <input formControlName="isActive" class="form-control" id="floatingactivenew" type="text">
            <label for="floatingactivenew">isActive</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="submit" data-bs-dismiss="modal" [disabled]="!newProductForm.valid"
              class="btn btn-primary">Confirmar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>